In [ ]:
!pip install datapackage
!pip install geopandas
!pip install folium

Requirement already satisfied: datapackage in /opt/conda/lib/python3.8/site-packages (1.15.2)
Requirement already satisfied: unicodecsv>=0.14 in /opt/conda/lib/python3.8/site-packages (from datapackage) (0.14.1)
Requirement already satisfied: chardet>=3.0 in /opt/conda/lib/python3.8/site-packages (from datapackage) (4.0.0)
Requirement already satisfied: jsonpointer>=1.10 in /opt/conda/lib/python3.8/site-packages (from datapackage) (2.1)
Requirement already satisfied: requests>=2.8 in /opt/conda/lib/python3.8/site-packages (from datapackage) (2.25.1)
Requirement already satisfied: click>=6.7 in /opt/conda/lib/python3.8/site-packages (from datapackage) (8.0.1)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.8/site-packages (from datapackage) (1.15.0)
Requirement already satisfied: jsonschema>=2.5 in /opt/conda/lib/python3.8/site-packages (from datapackage) (3.2.0)
Requirement already satisfied: tableschema>=1.12.1 in /opt/conda/lib/python3.8/site-packages (from datapackage) (1.20.2)
Requirement already satisfied: tabulator>=1.29 in /opt/conda/lib/python3.8/site-packages (from datapackage) (1.53.5)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (0.17.3)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.8/site-packages (from jsonschema>=2.5->datapackage) (49.6.0.post20210108)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests>=2.8->datapackage) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests>=2.8->datapackage) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests>=2.8->datapackage) (1.26.4)
Requirement already satisfied: isodate>=0.5.4 in /opt/conda/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (0.6.0)
Requirement already satisfied: cached-property>=1.5 in /opt/conda/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (1.5.2)
Requirement already satisfied: rfc3986>=1.1.0 in /opt/conda/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (1.5.0)
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.8/site-packages (from tableschema>=1.12.1->datapackage) (2.8.1)
Requirement already satisfied: sqlalchemy>=0.9.6 in /opt/conda/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.4.6)
Requirement already satisfied: linear-tsv>=1.0 in /opt/conda/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: xlrd>=1.0 in /opt/conda/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (2.0.1)
Requirement already satisfied: boto3>=1.9 in /opt/conda/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (1.18.58)
Requirement already satisfied: jsonlines>=1.1 in /opt/conda/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (2.0.0)
Requirement already satisfied: ijson>=3.0.3 in /opt/conda/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (3.1.4)
Requirement already satisfied: openpyxl>=2.6 in /opt/conda/lib/python3.8/site-packages (from tabulator>=1.29->datapackage) (3.0.9)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /opt/conda/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.5.0)
Requirement already satisfied: botocore<1.22.0,>=1.21.58 in /opt/conda/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (1.21.58)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.8/site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.10.0)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.8/site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.8/site-packages (from sqlalchemy>=0.9.6->tabulator>=1.29->datapackage) (1.0.0)
Requirement already satisfied: geopandas in /opt/conda/lib/python3.8/site-packages (0.10.1)
Requirement already satisfied: pandas>=0.25.0 in /opt/conda/lib/python3.8/site-packages (from geopandas) (1.2.5)
Requirement already satisfied: fiona>=1.8 in /opt/conda/lib/python3.8/site-packages (from geopandas) (1.8.20)
Requirement already satisfied: pyproj>=2.2.0 in /opt/conda/lib/python3.8/site-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /opt/conda/lib/python3.8/site-packages (from geopandas) (1.7.1)
Requirement already satisfied: six>=1.7 in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click>=4.0 in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (8.0.1)
Requirement already satisfied: cligj>=0.5 in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: attrs>=17 in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: munch in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (49.6.0.post20210108)
Requirement already satisfied: certifi in /opt/conda/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /home/jovyan/.local/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (1.19.5)

In [ ]:
import os, sys, subprocess
import numpy                 as np
import datapackage
import geopandas
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns
import folium  #needed for interactive map
from folium.plugins import HeatMap
%matplotlib inline
sns.set()

## Generate dataframe as csv with columns:
## 'Area', 'iso code', 'country area', 'cropland', 'cropland %'

In [ ]:
iso = pd.read_csv('iso.csv')
iso

    English short name    French short name Alpha-2 code Alpha-3 code  Numeric
0                Aruba                Aruba           AW          ABW      533
1          Afghanistan     Afghanistan (l')           AF          AFG        4
2               Angola          Angola (l')           AO          AGO       24
3             Anguilla             Anguilla           AI          AIA      660
4        Åland Islands      Åland(les Îles)           AX          ALA      248
..                 ...                  ...          ...          ...      ...
244              Samoa           Samoa (le)           WS          WSM      882
245              Yemen           Yémen (le)           YE          YEM      887
246       South Africa  Afrique du Sud (l')           ZA          ZAF      710
247             Zambia          Zambie (la)           ZM          ZMB      894
248           Zimbabwe        Zimbabwe (le)           ZW          ZWE      716

[249 rows x 5 columns]

In [ ]:
iso = iso.drop(columns=['French short name','Alpha-2 code','Numeric'])
iso = iso.rename(columns={"English short name" : "Area", "Alpha-3 code" : "iso"})
iso

              Area  iso
0            Aruba  ABW
1      Afghanistan  AFG
2           Angola  AGO
3         Anguilla  AIA
4    Åland Islands  ALA
..             ...  ...
244          Samoa  WSM
245          Yemen  YEM
246   South Africa  ZAF
247         Zambia  ZMB
248       Zimbabwe  ZWE

[249 rows x 2 columns]

In [ ]:
# Load landuse data
landuse = pd.read_csv('FAOSTAT_data_9-27-2021.csv')
landuse.head(3)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,2,Afghanistan,5110,Area,6600,Country area,1961,1961,1000 ha,65286.0,W,Data reported on country official publications...
1,RL,Land Use,2,Afghanistan,5110,Area,6600,Country area,1962,1962,1000 ha,65286.0,W,Data reported on country official publications...
2,RL,Land Use,2,Afghanistan,5110,Area,6600,Country area,1963,1963,1000 ha,65286.0,W,Data reported on country official publications...

In [ ]:
# Remove any NaN Value rows 
landuse.dropna(subset=['Value'])
landuse.head()

# Remove unecessary columns
landuse = landuse.drop(columns=['Domain Code', 'Domain', 'Area Code (FAO)', 'Element Code','Element','Item Code','Year Code','Unit','Flag','Flag Description'])

# Filter all rows for which Value is in the follwing:
droplabels = ['Agriculture area actually irrigated', 'Cropland area actually irrigated', 'Farm buildings & farmyards']
for i in droplabels:
    landuse.drop(landuse[landuse['Item'] == i].index, inplace = True)

landuse

              Area          Item  Year    Value
0      Afghanistan  Country area  1961  65286.0
1      Afghanistan  Country area  1962  65286.0
2      Afghanistan  Country area  1963  65286.0
3      Afghanistan  Country area  1964  65286.0
4      Afghanistan  Country area  1965  65286.0
...            ...           ...   ...      ...
64639     Zimbabwe   Arable land  2015   4000.0
64640     Zimbabwe   Arable land  2016   4000.0
64641     Zimbabwe   Arable land  2017   4000.0
64642     Zimbabwe   Arable land  2018   4000.0
64643     Zimbabwe   Arable land  2019   4000.0

[63185 rows x 4 columns]

In [ ]:
# Find the 'Area' values in 'land' that don't match ISO values so I can fix them now

# Turn both into lists, and then take the non-intersection
matched = list(set(landuse['Area'].unique()).intersection(iso['Area'].unique()))

unmatched = list(set(landuse['Area'].unique()).difference(iso['Area'].unique()))

# This is how many countries were successfully matched
print('# of matched countries = ' + str(len(matched)))
print('# of unmatched countries = ' + str(len(unmatched)))

# Which countries are in the landuse dataset but were not matched
landuse_unmatched = list(set(landuse['Area'].unique()).difference(matched))
landuse_unmatched = sorted(landuse_unmatched)
print(landuse_unmatched)
print()
# Which countries are in the iso dataset but were not matched -- These are the only ones I can fix!!
iso_unmatched = list(set(iso['Area'].unique()).difference(matched))
iso_unmatched = sorted(iso_unmatched)
print(iso_unmatched)

# of matched countries = 193
# of unmatched countries = 54
['Bahamas', 'Belgium-Luxembourg', 'British Virgin Islands', "C?te d'Ivoire", 'Cayman Islands', 'Central African Republic', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of', 'China, mainland', 'Comoros', 'Congo', 'Cook Islands', 'Cura?ao', 'Czechoslovakia', "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Dominican Republic', 'Ethiopia PDR', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'French Guyana', 'Gambia', 'Holy See', "Lao People's Democratic Republic", 'Marshall Islands', 'Netherlands', 'Netherlands Antilles (former)', 'Niger', 'Northern Mariana Islands', 'Pacific Islands Trust Territory', 'Palestine', 'Philippines', 'R?union', 'Republic of Korea', 'Republic of Moldova', 'Russian Federation', 'Saint Barth?lemy', 'Saint-Martin (French part)', 'Serbia and Montenegro', 'Sudan', 'Sudan (former)', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'USSR', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States Virgin Islands', 'United States of America', 'Wallis and Futuna Islands', 'Western Sahara', 'Yugoslav SFR']

['Antarctica', 'Bahamas (the)', 'Bouvet Island', 'British Indian Ocean Territory (the)', 'Cayman Islands (the)', 'Central African Republic (the)', 'Christmas Island', 'Cocos (Keeling) Islands (the)', 'Comoros (the)', 'Congo (the Democratic Republic of the)', 'Congo (the)', 'Cook Islands (the)', 'Curaçao', "Côte d'Ivoire", 'Dominican Republic (the)', 'Falkland Islands (the) [Malvinas]', 'Faroe Islands (the)', 'French Guiana', 'French Southern Territories (the)', 'Gambia (the)', 'Guernsey', 'Heard Island and McDonald Islands', 'Holy See (the)', 'Hong Kong', 'Jersey', "Korea (the Democratic People's Republic of)", 'Korea (the Republic of)', "Lao People's Democratic Republic (the)", 'Macao', 'Marshall Islands (the)', 'Moldova (the Republic of)', 'Netherlands (the)', 'Niger (the)', 'Northern Mariana Islands (the)', 'Palestine, State of', 'Philippines (the)', 'Russian Federation (the)', 'Réunion', 'Saint Barthélemy', 'Saint Martin (French part)', 'South Georgia and the South Sandwich Islands', 'Sudan (the)', 'Svalbard and Jan Mayen', 'Syrian Arab Republic (the)', 'Taiwan (Province of China)', 'Tanzania, the United Republic of', 'Turks and Caicos Islands (the)', 'United Arab Emirates (the)', 'United Kingdom of Great Britain and Northern Ireland (the)', 'United States Minor Outlying Islands (the)', 'United States of America (the)', 'Virgin Islands (British)', 'Virgin Islands (U.S.)', 'Wallis and Futuna', 'Western Sahara*', 'Åland Islands']

In [ ]:
# Next step, manually replace the landuse['Area'] values so that they match the world['name'] values
# Then, delete all others from the landuse chart
landuse['Area'].replace('Bahamas','Bahamas (the)',inplace=True)
landuse['Area'].replace('Cayman Islands','Cayman Islands (the)',inplace=True)
landuse['Area'].replace('Central African Republic','Central African Republic (the)',inplace=True)
landuse['Area'].replace('British Virgin Islands','British Indian Ocean Territory (the)',inplace=True)
landuse['Area'].replace('Comoros','Comoros (the)',inplace=True)
landuse['Area'].replace('Congo','Congo (the)',inplace=True)
landuse['Area'].replace('Cook Islands','Cook Islands (the)',inplace=True)
landuse['Area'].replace('Cura?ao','Curaçao',inplace=True)
landuse['Area'].replace("C?te d'Ivoire","Côte d'Ivoire",inplace=True)
landuse['Area'].replace('Democratic Republic of the Congo','Congo (the Democratic Republic of the)',inplace=True)
landuse['Area'].replace('Falkland Islands (Malvinas)', 'Falkland Islands (the) [Malvinas]',inplace=True)
landuse['Area'].replace('Faroe Islands', 'Faroe Islands (the)',inplace=True)
landuse['Area'].replace('French Guyana', 'French Guiana',inplace=True)

landuse['Area'].replace("Democratic People's Republic of Korea", "Korea (the Democratic People's Republic of)",inplace=True)
landuse['Area'].replace('Republic of Korea', 'Korea (the Republic of)',inplace=True)
landuse['Area'].replace("Lao People's Democratic Republic", "Lao People's Democratic Republic (the)",inplace=True)

landuse['Area'].replace('Netherlands', 'Netherlands (the)',inplace=True)
landuse['Area'].replace('Niger', 'Niger (the)',inplace=True)
landuse['Area'].replace('Palestine', 'Palestine, State of',inplace=True)
landuse['Area'].replace('Philippines', 'Philippines (the)',inplace=True)
landuse['Area'].replace('Republic of Moldova', 'Moldova (the Republic of)',inplace=True)

landuse['Area'].replace('Gambia','Gambia (the)',inplace=True)
landuse['Area'].replace('Holy See', 'Holy See (the)',inplace=True)
landuse['Area'].replace('Marshall Islands', 'Marshall Islands (the)',inplace=True)
landuse['Area'].replace('Sudan', 'Sudan (the)',inplace=True)
landuse['Area'].replace('Western Sahara', 'Western Sahara*',inplace=True)

landuse['Area'].replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom of Great Britain and Northern Ireland (the)',inplace=True)
landuse['Area'].replace('United States Virgin Islands', 'Virgin Islands (U.S.)',inplace=True)
landuse['Area'].replace('United States of America','United States of America (the)',inplace=True)

landuse['Area'].replace('R?union', 'Réunion',inplace=True)
landuse['Area'].replace('United Republic of Tanzania', 'Tanzania, the United Republic of',inplace=True)
landuse['Area'].replace('Wallis and Futuna Islands','Wallis and Futuna',inplace=True)
landuse['Area'].replace('Syrian Arab Republic','Syrian Arab Republic (the)',inplace=True)

landuse['Area'].replace('Turks and Caicos Islands', 'Turks and Caicos Islands (the)',inplace=True)

landuse['Area'].replace('United Arab Emirates', 'United Arab Emirates (the)',inplace=True)
landuse['Area'].replace('Northern Mariana Islands', 'Northern Mariana Islands (the)',inplace=True)
landuse['Area'].replace('Russian Federation', 'Russian Federation (the)',inplace=True)
landuse['Area'].replace('United Arab Emirates', 'United Arab Emirates (the)',inplace=True)

landuse['Area'].replace('Saint Barth?lemy','Saint Barthélemy',inplace=True)
landuse['Area'].replace('Saint-Martin (French part)','Saint Martin (French part)',inplace=True)

landuse['Area'].replace('Dominican Republic', 'Dominican Republic (the)',inplace=True)

In [ ]:
# China is 're-used' 
# Here are all of the landuse 'areas' that have china = ['China', 'China, Hong Kong SAR', 'China, Macao SAR','China, mainland', 'Taiwan']

# Remove 'China'
droplabels = ['China']
for i in droplabels:
    landuse.drop(landuse[landuse['Area'] == i].index, inplace = True)

# rename Hong Kong, Macao, China mainland, and Taiwan
landuse['Area'].replace('China, Hong Kong SAR', 'Hong Kong',inplace=True)
landuse['Area'].replace('China, Macao SAR', 'Macao',inplace=True)
landuse['Area'].replace('China, mainland', 'China',inplace=True)
landuse['Area'].replace('China, Taiwan Province of', 'Taiwan (Province of China)',inplace=True)

In [ ]:
# Ethiopia and Ethiopia PDR are the same -- they have unique sets of years. Rename both to 'Ethiopia'.
landuse['Area'].replace('Ethiopia PDR', 'Ethiopia',inplace=True)

In [ ]:
# For the second time, find the 'Area' values in 'land' that don't match ISO values so I can fix them now

# Turn both into lists, and then take the non-intersection
matched = list(set(landuse['Area'].unique()).intersection(iso['Area'].unique()))

unmatched = list(set(landuse['Area'].unique()).difference(iso['Area'].unique()))

# This is how many countries were successfully matched
print('# of matched countries = ' + str(len(matched)))
print('# of unmatched countries = ' + str(len(unmatched)))

# Which countries are in the landuse dataset but were not matched
landuse_unmatched = list(set(landuse['Area'].unique()).difference(matched))
landuse_unmatched = sorted(landuse_unmatched)
print(landuse_unmatched)
print()
# Which countries are in the iso dataset but were not matched -- These are the only ones I can fix!!
iso_unmatched = list(set(iso['Area'].unique()).difference(matched))
iso_unmatched = sorted(iso_unmatched)
print(iso_unmatched)

# of matched countries = 236
# of unmatched countries = 9
['Belgium-Luxembourg', 'Channel Islands', 'Czechoslovakia', 'Netherlands Antilles (former)', 'Pacific Islands Trust Territory', 'Serbia and Montenegro', 'Sudan (former)', 'USSR', 'Yugoslav SFR']

['Antarctica', 'Bouvet Island', 'Christmas Island', 'Cocos (Keeling) Islands (the)', 'French Southern Territories (the)', 'Guernsey', 'Heard Island and McDonald Islands', 'Jersey', 'South Georgia and the South Sandwich Islands', 'Svalbard and Jan Mayen', 'United States Minor Outlying Islands (the)', 'Virgin Islands (British)', 'Åland Islands']

In [ ]:
# Print years for Sudan and Sudan (former)
print(country_area[country_area['Area'] == 'South Sudan'   ]['Year'].unique())
print(country_area[country_area['Area'] == 'Sudan (the)'   ]['Year'].unique())
print(country_area[country_area['Area'] == 'Sudan (former)']['Year'].unique())

[2012 2013 2014 2015 2016 2017 2018 2019]
[2012 2013 2014 2015 2016 2017 2018 2019 1961 1962 1963 1964 1965 1966
 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980
 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994
 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011]
[]

In [ ]:
# Print country_area for 'Sudan (the)', 'South Sudan', and 'Sudan (former)'
print(country_area[country_area['Area'] == 'South Sudan'])
print(country_area[country_area['Area'] == 'Sudan (the)'])
print(country_area[country_area['Area'] == 'Sudan (former)'])

              Area  Year  Country_Area
54202  South Sudan  2012       64688.3
54203  South Sudan  2013       64688.3
54204  South Sudan  2014       64688.3
54205  South Sudan  2015       64688.3
54206  South Sudan  2016       64688.3
54207  South Sudan  2017       64688.3
54208  South Sudan  2018       64688.3
54209  South Sudan  2019       64688.3
              Area  Year  Country_Area
54843  Sudan (the)  2012   185410.6027
54844  Sudan (the)  2013   185410.5341
54845  Sudan (the)  2014   185410.4772
54846  Sudan (the)  2015   185410.5787
54847  Sudan (the)  2016   185410.4915
54848  Sudan (the)  2017   185410.6923
54849  Sudan (the)  2018   185410.5405
54850  Sudan (the)  2019   185410.5405
54883  Sudan (the)  1961   250581.0000
54884  Sudan (the)  1962   250581.0000
54885  Sudan (the)  1963   250581.0000
54886  Sudan (the)  1964   250581.0000
54887  Sudan (the)  1965   250581.0000
54888  Sudan (the)  1966   250581.0000
54889  Sudan (the)  1967   250581.0000
54890  Sudan (the)  1968   250581.0000
54891  Sudan (the)  1969   250581.0000
54892  Sudan (the)  1970   250581.0000
54893  Sudan (the)  1971   250581.0000
54894  Sudan (the)  1972   250581.0000
54895  Sudan (the)  1973   250581.0000
54896  Sudan (the)  1974   250581.0000
54897  Sudan (the)  1975   250581.0000
54898  Sudan (the)  1976   250581.0000
54899  Sudan (the)  1977   250581.0000
54900  Sudan (the)  1978   250581.0000
54901  Sudan (the)  1979   250581.0000
54902  Sudan (the)  1980   250581.0000
54903  Sudan (the)  1981   250581.0000
54904  Sudan (the)  1982   250581.0000
54905  Sudan (the)  1983   250581.0000
54906  Sudan (the)  1984   250581.0000
54907  Sudan (the)  1985   250581.0000
54908  Sudan (the)  1986   250581.0000
54909  Sudan (the)  1987   250581.0000
54910  Sudan (the)  1988   250581.0000
54911  Sudan (the)  1989   250581.0000
54912  Sudan (the)  1990   250581.0000
54913  Sudan (the)  1991   250581.0000
54914  Sudan (the)  1992   250581.0000
54915  Sudan (the)  1993   250581.0000
54916  Sudan (the)  1994   250581.0000
54917  Sudan (the)  1995   250581.0000
54918  Sudan (the)  1996   250581.0000
54919  Sudan (the)  1997   250581.0000
54920  Sudan (the)  1998   250581.0000
54921  Sudan (the)  1999   250581.0000
54922  Sudan (the)  2000   250581.0000
54923  Sudan (the)  2001   250581.0000
54924  Sudan (the)  2002   250581.0000
54925  Sudan (the)  2003   250581.0000
54926  Sudan (the)  2004   250581.0000
54927  Sudan (the)  2005   250581.0000
54928  Sudan (the)  2006   250581.0000
54929  Sudan (the)  2007   250581.0000
54930  Sudan (the)  2008   250581.0000
54931  Sudan (the)  2009   250581.0000
54932  Sudan (the)  2010   250581.0000
54933  Sudan (the)  2011   250581.0000
Empty DataFrame
Columns: [Area, Year, Country_Area]
Index: []

In [ ]:
# Area of Sudan (the) varies. Pick a year (2012) and sum up 'Sudan (the)' and 'South Sudan'. Compare to 'Sudan (former)'
a = sum(country_area[(country_area['Area'] == 'South Sudan') & (country_area['Year'] == 2012)]['Country_Area'],
        country_area[(country_area['Area'] == 'Sudan (the)') & (country_area['Year'] == 2012)]['Country_Area']
       )
b = country_area[(country_area['Area'] == 'Sudan (former)') & (country_area['Year'] == 1990)]['Country_Area']

print(a)
print(b)

54843    250098.9027
Name: Country_Area, dtype: float64
Series([], Name: Country_Area, dtype: float64)

In [ ]:
# According to the ISO, when Sudan split into Sudan and South Sudan, they did NOT change the Alpha-3 code for Sudan (former) and Sudan.
# They just added an additional entry to the country list for 'South Sudan' and left 'Sudan' unchanged.
# We will go similarly, and rename 'Sudan (former)' as 'Sudan'
landuse['Area'].replace('Sudan (former)', 'Sudan (the)',inplace=True)

In [ ]:
# Add these 9 unmatched countries to iso

new_iso = ['Czechoslovakia', 'CSK',
            'Netherlands Antilles (former)', 'ANT',
            'Pacific Islands Trust Territory', 'PCI',
            'Serbia and Montenegro', 'SCG',
            'USSR','SUN',
            'Yugoslav SFR','YUG',
            'Belgium-Luxembourg','BLX'
            ]
new_iso = np.reshape(new_iso,(7,2))

In [ ]:
# Make sure none of these ISO codes aren't already included in the iso list
for i in new_iso[:,1]:
    print(iso[iso['iso'] == i].sum())

Area    0.0
iso     0.0
dtype: float64
Area    0.0
iso     0.0
dtype: float64
Area    0.0
iso     0.0
dtype: float64
Area    0.0
iso     0.0
dtype: float64
Area    0.0
iso     0.0
dtype: float64
Area    0.0
iso     0.0
dtype: float64
Area    0.0
iso     0.0
dtype: float64

In [ ]:
# Add new_iso to the iso dataframe
new_iso = pd.DataFrame(new_iso, columns=('Area','iso'))
iso = iso.append(new_iso)

In [ ]:
# Check again, how many unmatched countries?
# Turn both into lists, and then take the non-intersection
matched = list(set(landuse['Area'].unique()).intersection(iso['Area'].unique()))

unmatched = list(set(landuse['Area'].unique()).difference(iso['Area'].unique()))

# This is how many countries were successfully matched
print('# of matched countries = ' + str(len(matched)))
print('# of unmatched countries = ' + str(len(unmatched)))

# Which countries are in the landuse dataset but were not matched
landuse_unmatched = list(set(landuse['Area'].unique()).difference(matched))
landuse_unmatched = sorted(landuse_unmatched)
print(landuse_unmatched)
print()
# Which countries are in the iso dataset but were not matched -- These are the only ones I can fix!!
iso_unmatched = list(set(iso['Area'].unique()).difference(matched))
iso_unmatched = sorted(iso_unmatched)
print(iso_unmatched)

# of matched countries = 243
# of unmatched countries = 1
['Channel Islands']

['Antarctica', 'Bouvet Island', 'Christmas Island', 'Cocos (Keeling) Islands (the)', 'French Southern Territories (the)', 'Guernsey', 'Heard Island and McDonald Islands', 'Jersey', 'South Georgia and the South Sandwich Islands', 'Svalbard and Jan Mayen', 'United States Minor Outlying Islands (the)', 'Virgin Islands (British)', 'Åland Islands']

In [ ]:
landuse['Item'].unique()

array(['Country area', 'Land area', 'Agricultural land', 'Cropland',
       'Arable land'], dtype=object)

In [ ]:
# Extract each of these into their own pandas dataset
country_area = landuse[landuse['Item'] == 'Country area']
cropland = landuse[landuse['Item'] == 'Cropland']

# Rename 'Value' column names and drop 'Item' column
cropland = cropland.rename(columns={"Value": "Cropland"})
cropland = cropland.drop(columns=['Item'], axis=1)

country_area = country_area.rename(columns={"Value": "Country_Area"})
country_area = country_area.drop(columns=['Item'], axis=1)

In [ ]:
# shape of cropland
np.shape(cropland)

(12352, 3)

In [ ]:
# shape of country_area
np.shape(country_area)

(12917, 3)

In [ ]:
# Merge datasets into 'land'
land = cropland.merge(country_area)
land

              Area  Year  Cropland  Country_Area
0      Afghanistan  1961    7700.0       65286.0
1      Afghanistan  1962    7760.0       65286.0
2      Afghanistan  1963    7810.0       65286.0
3      Afghanistan  1964    7873.0       65286.0
4      Afghanistan  1965    7875.0       65286.0
...            ...   ...       ...           ...
12347     Zimbabwe  2015    4100.0       39076.0
12348     Zimbabwe  2016    4100.0       39076.0
12349     Zimbabwe  2017    4100.0       39076.0
12350     Zimbabwe  2018    4100.0       39076.0
12351     Zimbabwe  2019    4100.0       39076.0

[12352 rows x 4 columns]

In [ ]:
# Add percentage cropland to a new column
land['Cropland_pct'] = land['Cropland']/land['Country_Area']
land

              Area  Year  Cropland  Country_Area  Cropland_pct
0      Afghanistan  1961    7700.0       65286.0      0.117943
1      Afghanistan  1962    7760.0       65286.0      0.118862
2      Afghanistan  1963    7810.0       65286.0      0.119627
3      Afghanistan  1964    7873.0       65286.0      0.120592
4      Afghanistan  1965    7875.0       65286.0      0.120623
...            ...   ...       ...           ...           ...
12347     Zimbabwe  2015    4100.0       39076.0      0.104924
12348     Zimbabwe  2016    4100.0       39076.0      0.104924
12349     Zimbabwe  2017    4100.0       39076.0      0.104924
12350     Zimbabwe  2018    4100.0       39076.0      0.104924
12351     Zimbabwe  2019    4100.0       39076.0      0.104924

[12352 rows x 5 columns]

In [ ]:
# Merge iso into land
land = land.merge(iso)
land

              Area  Year  Cropland  Country_Area  Cropland_pct  iso
0      Afghanistan  1961    7700.0       65286.0      0.117943  AFG
1      Afghanistan  1962    7760.0       65286.0      0.118862  AFG
2      Afghanistan  1963    7810.0       65286.0      0.119627  AFG
3      Afghanistan  1964    7873.0       65286.0      0.120592  AFG
4      Afghanistan  1965    7875.0       65286.0      0.120623  AFG
...            ...   ...       ...           ...           ...  ...
12288     Zimbabwe  2015    4100.0       39076.0      0.104924  ZWE
12289     Zimbabwe  2016    4100.0       39076.0      0.104924  ZWE
12290     Zimbabwe  2017    4100.0       39076.0      0.104924  ZWE
12291     Zimbabwe  2018    4100.0       39076.0      0.104924  ZWE
12292     Zimbabwe  2019    4100.0       39076.0      0.104924  ZWE

[12293 rows x 6 columns]

In [ ]:
# are any empty on the iso column?
land['iso'].isnull().values.any()

False

In [ ]:
land.to_csv('land.csv')

## Generate EDA plots of cropland data

In [ ]:
land.head()

NameError: ignored

In [ ]:
# Sum data across all countries, separated by Item code, for each year

# Start by creating a table with just Year, Item, and Value Information
global_data = land.copy(deep=True)
a = global_data.groupby(["Year"]).Cropland.sum()
b = global_data.groupby(["Year"]).Country_Area.sum()
c = global_data.groupby(["Year"]).Cropland_pct.mean()
d = global_data.groupby(["Year"]).Cropland_pct.sum()
global_data = pd.DataFrame([a,b,c,d])
temp = global_data.T.copy(deep=True)
temp.columns = ['Cropland','Country_Area', 'Mean_Cropland_pct','Sum_Cropland_pct']
global_data = temp.copy(deep=True)

global_data.head(3)

In [ ]:
# Load the geopandas world dataset
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
world.head(10)

In [ ]:
world.plot();

In [ ]:
# Plot just arable land over time
# Let's plot each of them on the same plot
fig, axs = plt.subplots()
sns.lineplot(x='Year', y='Cropland', data=land)
fig.suptitle('Global Cropland in thousand hectares')
plt.tight_layout()
fig.show()

In [ ]:
# Plotting Cropland versus Country Area in 2019
fig, ax = plt.subplots()
sns.scatterplot(ax=ax, y='Cropland',x='Country_Area',data=land[land['Year']==2019])
ax.set_ylabel('Cropland (thousand hectares)')
ax.set_xlabel('Country Area (thousand hectares)')
fig.suptitle('Cropland versus Country Area in 2019')

In [ ]:
# Plotting Cropland % versus Country Area in 2019

fig, ax = plt.subplots()

sns.scatterplot(ax=ax, y='Cropland_pct',x='Country_Area', data=land[land['Year']==2019])
ax.set_ylabel('Sum of Cropland %')
ax.set_ylabel('Cropland %')
ax.set_xlabel('Country Area (thousand hectares)')
fig.suptitle('Cropland % versus Country Area in 2019')

In [ ]:
fig, ax = plt.subplots(1,2)

sns.lineplot(ax=ax[0], x='Year',y='Mean_Cropland_pct',data=global_data)
ax[0].set_ylabel('Mean of Cropland %')

sns.lineplot(ax=ax[1], x='Year',y='Sum_Cropland_pct',data=global_data)
ax[1].set_ylabel('Sum of Cropland %')

fig.suptitle('Cropland % over time')
plt.tight_layout()

In [ ]:
fig, ax = plt.subplots()
sns.lineplot(ax = ax, x='Year', y='Cropland_pct', data=land)
ax.set_ylabel('Percentage')
fig.suptitle('Percentage of Country Area designated as Cropland')

In [ ]:
sns.lineplot(x='Year', y='Cropland_pct', hue='iso', data=land)
#place legend outside top right corner of plot
plt.legend(bbox_to_anchor=(1.02, 1), loc='upper left', borderaxespad=0)

In [ ]:
fig = sns.lineplot(x='Year', y='Cropland_pct', hue='Area', data=land)
# remove legend
fig.legend_.remove()

In [ ]:
decades = np.linspace(1960,2020,7)
decades = [int(x) for x in decades]
print(decades)

ticks = np.linspace(0,len(land['Year'].unique()),7)

fig, ax = plt.subplots()
sns.boxplot(ax=ax, x='Year',y='Cropland_pct', data=land)
ax.set_xticks(ticks)
ax.set_xticklabels(decades)
ax.set_ylabel('Percentage')
fig.suptitle('Percentage of Country Area designated as Cropland')